@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

.beautymates__divider {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  text-align: center;
  border-top: 0;
  line-height: 1.5;
  list-style: none;
  white-space: nowrap;
}

.beautymates__divider_text {
  display: inline-block;
  padding: 0 1em;
  font-family: Hind Siliguri;
  font-size: 12px;
  color: #888888;
  font-weight: 400;
}

.beautymates__divider::before {
  position: relative;
  top: 50%;
  width: 50%;
  border-top: 1px solid white;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  content: '';
}

.beautymates__divider::after {
  position: relative;
  top: 50%;
  width: 50%;
  border-top: 1px solid white;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  content: '';
}

.beautymates__reply_colors {
  background-color: #f9f9f9;
}

.beautymates__reply__other {
  background: #FCF2F2;
}

.beautymates__scrooll::-webkit-scrollbar {
  width: 7px;
  border-radius: 7px;
}
.beautymates__scrooll::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.beautymates__scrooll::-webkit-scrollbar-thumb {
  background: #e28d8fb3;
  border-radius: 7px;
}
.beautymates__scrooll::-webkit-scrollbar-thumb:hover {
  background: #e28d8f99;
}

.beautymates__badge {
  width: 15px;
  height: 15px;
  display: inline-flex;
  background-color: #ed8f8d;
  font-family: Hind Siliguri;
  justify-content: center;
  font-size: 11px;
  border-radius: 100%;
  text-align: center;
  color: white;
  font-weight: 700;
}

.h-zero {
  height: 0px;
}

.height-57 {
  height: 57px;
  max-height: 57px;
}

.h-416 {
  max-height: 416px;
}

@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f7f7f7;
  background: linear-gradient(to right, #efefef 8%, #e6e6e6 18%, #efefef 33%);
  background-size: 800px 104px;
  position: relative;
}

.beautymates__message__user:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: #f9f9f9;
  border-bottom:0;
  border-right: 0;
  margin-left: -7x;
  margin-bottom: -12px;
}

.beautymates__message__other:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: #FCF2F2;
  border-bottom:0;
  border-left: 0;
  margin-left: -7x;
  margin-bottom: -12px;
}

.beautymates__channel__active {
  background-color: #f5d3d4;
}

.beautymates__channel:hover {
  background-color: #f5d3d4;
}

.beautymates__last_message {
  line-height: 15px;
  max-height: 30px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 
  overflow: hidden;
}